#main {
	padding: 5%;
	width: 90%;
	height: 90%;
}

body {
	margin: 0;
}

#heading {
	
	position: relative;

	display: block;
	width: 100%;
	text-align: center;
	font-family: "proxima-nova";
	 src:url(https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/l?subset_id=2&fvd=n3&v=3) format("woff2"),
 url(https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?subset_id=2&fvd=n3&v=3) format("woff"),
 url(https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/a?subset_id=2&fvd=n3&v=3) format("opentype");
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.138889em;
}

